<ion-content fullscreen="true" class="error404-page">
  <ion-grid>
      <ion-row>
          <ion-col><img id="logo" src="assets/lnv_logo.png"></ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <p>Sorry, an unknown error has occured. Please click the restart button to try and restart the app.</p>
              <ion-button color="danger" (click)="resetApp()">
                  Restart App
              </ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
