<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true" color="primary"></ion-menu-button>
    </ion-buttons>
      <ion-title>
          Manage Netcasts
      </ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="openActionSheet()"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
      <ion-row>
          <ion-col>
              <ion-list *ngIf="netcastVMs">
                  <ion-item-sliding *ngFor="let vm of netcastVMs">
                      <ion-item>
                          <ion-avatar slot="start">
                              <img src="{{vm.imageSrc}}?{{timestamp}}">
                          </ion-avatar>
                          <h2>{{vm.title}}</h2>
                          <p>{{vm.startDateTime}} | {{vm.isPrivate ? "Private" : "Public"}}</p>
                          <p *ngIf="vm.shortDescription">{{vm.shortDescription}}</p>
                          <p><code>{{vm.netcasteeLink}}</code></p>

                      </ion-item>
                      <ion-item-options side="end">
                          <ion-button
                                  color="secondary"
                                  (click)="startNetcast(vm.netcastId)">
                              <ion-icon name="call"></ion-icon>
                              Start
                          </ion-button>
                          <ion-button (click)="gotoNetcastDetails(vm.netcastId)"
                                 
                                  color="secondary">
                              <ion-icon name="create"></ion-icon>
                              Details
                          </ion-button>
                          <ion-button (click)="openEditNetcastModal(vm.netcastId)"
                                 
                                  color="secondary">
                              <ion-icon name="create"></ion-icon>
                              Edit
                          </ion-button>

                          <ion-button (click)="confirmDelete(vm.netcastId)"
                                 
                                  color="secondary">
                              <ion-icon name="trash"></ion-icon>
                              Delete
                          </ion-button>
                      </ion-item-options>
                  </ion-item-sliding>
              </ion-list>
              <div *ngIf="netcastVMs && netcastVMs.length < 1">
                  <h2>No Netcasts Found</h2>
                  <p><ion-button (click)="openCreateNetcastModal()">Create a Netcast</ion-button></p>
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
<app-phone-ringer #phoneRinger></app-phone-ringer>
