<div class="container-fluid">
	<div class="row" *ngIf="!messagingVisible">
		<div class="col-md-12">
			<div class="text-message-display-mini-box">
				<ng-container *ngIf="currentMessage">
					<app-text-messaging-message [(message)]="currentMessage" (onOpenPrivateSmsInterface)="openPrivateSmsInterface($event)"></app-text-messaging-message>
				</ng-container>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="messagingVisible">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="text-message-display-box">
						<ng-container *ngIf="textMessages">
							<div *ngFor="let message of textMessages">
								<app-text-messaging-message [message]="message" (onOpenPrivateSmsInterface)="openPrivateSmsInterface($event)"></app-text-messaging-message>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form class="form-inline" [formGroup]="formGroup">
						<div class="form-group">
							<textarea class="form-control"
									  formControlName="message"></textarea>
							<app-show-form-errors [control]="formGroup.get('message')"></app-show-form-errors>
						</div>
						<div class="form-group">
							<!--<mat-spinner *ngIf="showSmsProgress" mode="indeterminate" color="warn"></mat-spinner>-->
							<button class="btn-primary" (click)="sendGroupMessage()" *ngIf="!showSmsProgress">
								Send Group
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">

			<ion-button *ngIf="messagingVisible"
					(click)="closeMessaging()">
				Minimize
			</ion-button>
			<ion-button *ngIf="!messagingVisible"
					(click)="openMessaging()">

				Maximize
			</ion-button>
			<ion-button (click)="saveMessages()">
				Save Messages
			</ion-button>
			<ion-button (click)="clearMessages()">
				Clear Messages
			</ion-button>
			<ion-button (click)="openPrivateSmsInterface()" *ngIf="users.length > 1">
				Private Message
			</ion-button>
		</div>
	</div>
</div>