@import '../../../assets/_variables.scss';
@import '../../../assets/_mixins.scss';

material-alert {
    mat-dialog-actions {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}
