<ion-header>
  <ion-toolbar>
      <ion-title>Password Help</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="cancel()">
              <ion-icon name="close-circle"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
      <ion-row>
          <ion-col>
              <h2>Forgot Your Password?</h2>
              <p>Please enter your email below, and we will send you a password reset link</p>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                  <ion-item>
                      <ion-label position="stacked">Email: </ion-label>
                      <ion-input type="email" formControlName="email"></ion-input>
                  </ion-item>
                  <ion-item text-wrap *ngIf="!resetPasswordForm.controls.email.valid && resetPasswordForm.controls.email.dirty">
                      <app-show-form-errors [control]="resetPasswordForm.controls.email"></app-show-form-errors>
                  </ion-item>
              </form>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="text-center">
              <ion-button expand="block" (click)="cancel()" color="danger">Cancel</ion-button>
          </ion-col>
          <ion-col class="text-center">
              <ion-button expand="block" type="submit">Reset Password</ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
<div>
  
</div>
</ion-content>
