<!--
  Generated template for the AddContactsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-title>Edit Contact</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()">
                <ion-icon name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">


  <form [formGroup]="editContactForm">
      <ion-grid>
          <ion-row>
              <ion-col size="6" offset="3">
                  <app-pic-preview [imageSource]="avatar" (onAvatarChanged)="onAvatarChanged($event)"></app-pic-preview>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-list>
                      <ion-item>
                          <ion-label position="stacked">Name</ion-label>
                          <ion-input type="text" formControlName="name" placeholder="Name"></ion-input>
                      </ion-item>
                      <ion-item *ngIf="!editContactForm.controls.name.valid && editContactForm.controls.name.dirty">
                          <app-show-form-errors [control]="editContactForm.controls.name"></app-show-form-errors>
                      </ion-item>
                      <ion-item>
                          <ion-label position="stacked">Email</ion-label>
                          <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
                      </ion-item>
                      <ion-item *ngIf="!editContactForm.controls.email.valid && editContactForm.controls.email.dirty">
                          <app-show-form-errors [control]="editContactForm.controls.email"></app-show-form-errors>
                      </ion-item>
                  </ion-list>
                 </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                  <ion-button *ngIf="!editContactLoading" [disabled]="!editContactForm.valid" (click)="saveChanges()" color="primary">Save Changes</ion-button>
                  <!--<button *ngIf="editContactLoading" ion-button color="brand-orange"><ion-spinner name="dots"></ion-spinner></button>-->
                  <ion-button (click)="cancel()" color="light">cancel</ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
    
    
  </form>
  
</ion-content>
