<ion-header>
    <ion-toolbar>
        <ion-title>Meeting Details</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col>
                <h2>
                    {{title}}

                </h2>
                <p><strong>Date:</strong> {{meetDateTime}}</p>
                <p><strong>Type:</strong> {{isPrivate}}</p>

                <p><strong>Duration: </strong> {{duration}}</p>
                <p><strong>Description: </strong><br />
                    {{description}}
                </p>

                <ng-container *ngIf="isPrivate">
                    <strong>Attendees:</strong>
                    <ion-list>
                        <ion-item *ngFor="let attendee of attendees">
                            <app-meeting-attendee [meetingAttendee]="attendee"></app-meeting-attendee>
                        </ion-item>
                    </ion-list>
                </ng-container>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="text-center">
                <ion-button (click)="close()">Close</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
	
</ion-content>
