<ion-header>
	<ion-toolbar>
		<ion-title>
			Contacts
		</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="close()">
				<ion-icon name="close-circle"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-searchbar type="email" placeholder="Search Email" [(ngModel)]="contactEmailInput"
				   showCancelButton="focus"
				   cancelButtonText="Cancel"
				   [debounce]="debounce"
				   (ionCancel)="onCancelSearch($event)"
				   (ionInput)="onSearchChange($event)">
	</ion-searchbar>
	<ion-list>
		<ion-item>
			<h2>
				{{contactEmailInput}}
			</h2>
			<ion-button *ngIf="contactEmailInput" (click)="onCallClick(contactEmailInput)">
				<ion-icon slot="icon-only" name="call"></ion-icon>
			</ion-button>
		</ion-item>
		<ion-item *ngFor="let contact of filteredList">
			<ion-avatar slot="start">
				<img *ngIf="contact.avatarFileName" src="{{contactAvatarBaseUrl}}{{contact.avatarFileName}}?{{timestamp}}">
				<img *ngIf="!contact.avatarFileName" src="assets/images/default-avatar.png?{{timestamp}}" alt="">
			</ion-avatar>
			<ion-label>
				<h2>{{contact.name}}</h2>
				<p>{{contact.email}}</p>
				<ion-button *ngIf="contact.isMember" (click)="onCallClick(contact.email)">
					<ion-icon slot="icon-only" name="call"></ion-icon>
				</ion-button>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
