<ion-header>
	<ion-toolbar>
		<ion-title>
            Edit Netcast
        </ion-title>
		<ion-buttons slot="end">
            <ion-button (click)="cancel()">
                <ion-icon name="close-circle"></ion-icon>
            </ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="formGroup">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item class="ion-text-wrap">
                            <ion-label position="stacked">Title</ion-label>
                            <ion-input type="text" formControlName="title"></ion-input>
                        </ion-item>
                        <ion-item class="ion-text-wrap" *ngIf="!formGroup.controls.title.valid && formGroup.controls.title.dirty">
                            <app-show-form-errors [control]="formGroup.controls.title"></app-show-form-errors>
                        </ion-item>
                        <ion-item class="ion-text-wrap">
                            <ion-label position="stacked">Description</ion-label>
                            <ion-textarea formControlName="description" rows="3"></ion-textarea>
                        </ion-item>
                        <ion-item class="ion-text-wrap" *ngIf="!formGroup.controls.description.valid && formGroup.controls.description.dirty">
                            <app-show-form-errors [control]="formGroup.get('description')"></app-show-form-errors>
                        </ion-item>
                        <ion-item>
                            <ion-label floating>Select a Genre: </ion-label>
                            <ion-select formControlName="netcastGenreId">
                                <ion-select-option *ngFor="let genre of genres" value="{{genre.value}}">{{genre.key}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item *ngIf="!formGroup.controls.netcastGenreId.valid && formGroup.controls.netcastGenreId.dirty">
                            <app-show-form-errors [control]="formGroup.get('netcastGenreId')"></app-show-form-errors>
                        </ion-item>
                        <ion-item class="ion-text-wrap">
                            <ion-label position="stacked">Tags</ion-label>
                            <ion-textarea formControlName="tags"></ion-textarea>
                        </ion-item>
                        <ion-item class="ion-text-wrap" *ngIf="!formGroup.controls.tags.valid && formGroup.controls.tags.dirty">
                            <app-show-form-errors [control]="formGroup.get('tags')"></app-show-form-errors>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Scheduled Date &amp; Time</ion-label>
                            <ion-datetime displayFormat="MMM DD, YYYY h:mm A" formControlName="netcastTime"></ion-datetime>
                        </ion-item>
                        <ion-item *ngIf="!formGroup.controls.netcastTime.valid && formGroup.controls.netcastTime.dirty">
                            <app-show-form-errors [control]="formGroup.get('netcastTime')"></app-show-form-errors>
                        </ion-item>
                        <ion-item class="ion-text-wrap">
                            <ion-label position="stacked">Password: </ion-label>
                            <ion-input type="text" formControlName="password"></ion-input>
                            <ion-button fill="clear" style="padding-top: 8px;" color="primary" type="button" slot="end"
                                    (click)="popup('Optional Password', 'Create a password if you would like your viewers to enter the password before viewing your netcast.')">
                                <ion-icon name="information-circle"> </ion-icon>
                            </ion-button>
                        </ion-item>
                        <ion-item *ngIf="!formGroup.controls.password.valid && formGroup.controls.password.dirty">
                            <app-show-form-errors [control]="formGroup.get('password')"></app-show-form-errors>
                        </ion-item>

                        <ion-row class="bg-white">
                            <ion-col>
                                <ion-label>Preview Image: </ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row class="bg-white">
                            <ion-col size="8">
                                <app-pic-preview [imageSource]="image" (onAvatarChanged)="onAvatarChanged($event)"></app-pic-preview>
                            </ion-col>
                            <ion-col size="4" class="text-right">
                                <ion-button *ngIf="showRemoveImage" style="position:relative; top:8px; right:-10px;" color="primary" type="button"
                                        (click)="removeAvatar()">
                                    <ion-icon name="trash"> </ion-icon>
                                </ion-button>
                                <ion-button fill="clear" style="position:relative; top:8px; right:-10px;" color="primary" type="button"
                                        (click)="popup('Preview Image', 'Add an image so viewers can get a preview of your Netcast.')">
                                    <ion-icon name="information-circle"> </ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row class="bg-white">
                            <ion-col>
                                <hr />
                            </ion-col>
                        </ion-row>
                        <ion-row class="bg-white">
                            <ion-col class="text-center">
                                <ion-button expand="block" (click)="cancel()" color="light">Cancel</ion-button>
                            </ion-col>
                            <ion-col class="text-center">
                                <ion-button expand="block" (click)="submit()" color="primary">Update Netcast</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>


        
       
          

         

          

           
            <!--<ion-item class="ion-text-wrap">
                <strong> Current Scheduled Date And Time: {{viewModel.startDateTime}}</strong>
                <p>
                    If you wish to change the scheduled date and time for your netcast,
                    please choose your new date and time below. <button ion-button (click)="toggleShowNewDateTime()">Change Schedule</button>
                </p>

            </ion-item>-->
            <!--<ion-item>
        <ion-label>Create New Scheduled Date And Time: </ion-label>
        <ion-toggle checked="false" [(ngModel)]="showNewDateTime"></ion-toggle>
    </ion-item>-->
            
            <!--<ion-row *ngIf="showNewDateTime">
                <ion-item col-10>

                    <ion-label position="stacked">
                        Choose New Start Date:
                    </ion-label>
                    <ion-input type="text" formControlName="netcastDate"></ion-input>

                </ion-item>
                <ion-item col-2>
                    <button clear item-right (click)="openCalendar()"><ion-icon name="calendar"></ion-icon></button>
                </ion-item>
            </ion-row>
            <ion-item *ngIf="!formGroup.controls.netcastDate.valid && formGroup.controls.netcastDate.dirty && showNewDateTime">
                <app-show-form-errors [control]="formGroup.get('netcastDate')"></app-show-form-errors>
            </ion-item>

            <ion-item class="ion-text-wrap" *ngIf="showNewDateTime">
                <ion-label position="stacked">Enter New Start Hour</ion-label>
                <ion-input type="text" formControlName="netcastHour"></ion-input>
            </ion-item>
            <ion-item class="ion-text-wrap" *ngIf="!formGroup.controls.netcastHour.valid && formGroup.controls.netcastHour.dirty && showNewDateTime">
                <app-show-form-errors [control]="formGroup.get('netcastHour')"></app-show-form-errors>
            </ion-item>

            <ion-item class="ion-text-wrap" *ngIf="showNewDateTime">
                <ion-label position="stacked">Enter New Start Minute</ion-label>
                <ion-input type="text" formControlName="netcastMinute"></ion-input>
            </ion-item>
            <ion-item class="ion-text-wrap" *ngIf="!formGroup.controls.netcastMinute.valid && formGroup.controls.netcastMinute.dirty && showNewDateTime">
                <app-show-form-errors [control]="formGroup.get('netcastMinute')"></app-show-form-errors>
            </ion-item>

            <ion-item class="ion-text-wrap" *ngIf="showNewDateTime">
                <ion-label position="stacked">AM/PM</ion-label>
                <ion-toggle formControlName="isPm"></ion-toggle>
            </ion-item>
            <ion-item class="ion-text-wrap" *ngIf="!formGroup.controls.isPm.valid && formGroup.controls.isPm.dirty && showNewDateTime">
                <app-show-form-errors [control]="formGroup.get('isPm')"></app-show-form-errors>
            </ion-item>-->



            <!--<ion-item class="ion-text-wrap">
                <ion-label position="stacked">Privacy</ion-label>
                <ion-toggle formControlName="isPrivate" [(ngModel)]="isPrivate">Is Private</ion-toggle>
            </ion-item>
            <ion-item class="ion-text-wrap" *ngIf="isPrivate">
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="text" formControlName="password"></ion-input>

            </ion-item>
            <ion-item class="ion-text-wrap" *ngIf="isPrivate">
                <small>
                    A password is required when a netcast is set to private.
                    Only create a new password to change an existing password, or you currently don't have a password.
                </small>
            </ion-item>
            <ion-item class="ion-text-wrap" *ngIf="!formGroup.controls.password.valid && formGroup.controls.password.dirty && isPrivate">
                <app-show-form-errors [control]="formGroup.get('password')"></app-show-form-errors>
            </ion-item>-->

       
       
    </form>
   
	
</ion-content>
<app-phone-ringer #phoneRinger></app-phone-ringer>
