<ion-header>
	<ion-toolbar>
		<ion-title>
            Create A Meeting
        </ion-title>
		<ion-buttons slot="end">
            <ion-button (click)="cancel()">
                <ion-icon name="close-circle"></ion-icon>
            </ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	
	<form [formGroup]="formGroup">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list>

                        <ion-item>
                            <ion-label position="stacked">Meeting Title</ion-label>
                            <ion-input type="text" formControlName="title"></ion-input>
                        </ion-item>
                        <ion-item text-wrap *ngIf="!formGroup.controls.title.valid && formGroup.controls.title.dirty">
                            <app-show-form-errors [control]="formGroup.controls.title"></app-show-form-errors>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Description</ion-label>
                            <ion-textarea formControlName="description" rows="3"></ion-textarea>
                        </ion-item>
                        <ion-item *ngIf="!formGroup.controls.description.valid && formGroup.controls.description.dirty">
                            <app-show-form-errors [control]="formGroup.get('description')"></app-show-form-errors>
                        </ion-item>


                        <ion-item>
                            <ion-label position="stacked">Scheduled Date &amp; Time</ion-label>
                            <ion-datetime displayFormat="MMM DD, YYYY h:mm A" formControlName="meetingTime"></ion-datetime>
                        </ion-item>
                        <ion-item *ngIf="!formGroup.controls.meetingTime.valid && formGroup.controls.meetingTime.dirty">
                            <app-show-form-errors [control]="formGroup.get('meetingTime')"></app-show-form-errors>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Meeting Length: </ion-label>
                            <ion-select formControlName="meetingLength">
                                <ion-select-option *ngFor="let length of lengths" value="{{length.value}}">{{length.key}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item *ngIf="!formGroup.controls.meetingLength.valid && formGroup.controls.meetingLength.dirty">
                            <app-show-form-errors [control]="formGroup.get('meetingLength')"></app-show-form-errors>
                        </ion-item>

                        <ion-row class="bg-white">
                            <ion-col class="text-center">

                                <ion-button expand="block" (click)="cancel()" color="danger">Cancel</ion-button>
                            </ion-col>
                            <ion-col class="text-center">
                                <ion-button expand="block" (click)="submit()" color="primary">Create</ion-button>
                            </ion-col>
                        </ion-row>


                    </ion-list>

                </ion-col>
            </ion-row>



          

          
        </ion-grid>

		
	</form>
	
</ion-content>
<app-phone-ringer #phoneRinger></app-phone-ringer>
