$blue: #3e62fe;
$darkBlue: #23315d;
$lightBlue: #7ecefd;
$veryLightBlue: #e3ebef;
$offBlue: #4e718f;
$white: #ffffff;
$grey: #6b6b6b;
$red: #ff2931;
$yellow: #ffc300;
$black: #000;
$impact: Impact, Charcoal, sans-serif;
$orange: #ff3800;
$lightGrey: #e5e9ea;
$radiusSm: 3px;
$radiusMd: 5px;
$radiusLg: 8px;

$primary: #648dba; // #337ab7
$success: #5cb85c !default;
$info: #5bc0de !default;
$warning: #f0ad4e !default;
$danger: #d9534f !default;
$white: #fff;

$color-primary: #23315D;
$color-secondary: white;
$color-orange: #f1682d;

$family-heading: 'Roboto', sans-serif;
