<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="true" color="primary"></ion-menu-button>
    </ion-buttons>
      <ion-title>
          Live Video Phone
      </ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="openActionSheet()">
              <ion-icon name="ellipsis-more"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="phone-page">
<video id="main-video" [ngClass]="{'visible': !isVideoHidden, 'invisible': isVideoHidden }" src="" #mainVideoElement autoplay="autoplay"
  muted="muted" playsinline></video>
<!-- //the inserted component are hidden,
boxes will show when its not -->
<div class="phone-call-container">
  <div class="phone-call-component" (click)="localVideoClicked()">
    <video #localVideoElement autoplay="autoplay" muted="muted" src="" [ngClass]="{'visible': !isVideoHidden, 'invisible': isVideoHidden, 'video-thumbs':true }"
      playsinline></video>
  </div>
  <ng-template #phoneCallComponentInsert>
  </ng-template>
</div>

<!--<div class="btn-bar" [class.expand]="isChatExpanded">
  <div class="btn-bar btn-bar-content">
    <button ion-button color="secondary" (click)="showContactSearchModal()">
      <ion-icon name="call"></ion-icon>
    </button>
    <button *ngIf="isBusy" ion-button color="danger" (click)="hangUp()">
      <ion-icon id="hangup" name="call"></ion-icon>
    </button>
    <button ion-button color="bad-danger" (click)="exitPhone()">
      <ion-icon name="exit"></ion-icon>
    </button>

    <button *ngIf="isChatExpanded" ion-button color="primary" (click)="collapseChat()">
      <ion-icon name="arrow-down"></ion-icon>
    </button>
    <button *ngIf="!isChatExpanded" ion-button color="primary" (click)="expandChat()">
      <ion-icon name="arrow-up"></ion-icon>
    </button>
  </div>
</div>-->
<div class="chatbox" [class.expand]="isChatExpanded" #chatbox>
  <div class="chatbox-content">
    <ion-list *ngIf="textMessages">
      <ion-item *ngFor="let message of textMessages" (click)="openPrivateSmsInterface(message.id)">
        <ion-avatar item-start>
          <img src="{{message.imgSrc}}" />
        </ion-avatar>
        <ion-label>
        <h2>
          {{message.name}}
          <ion-icon name="person" *ngIf="message.isPrivate"></ion-icon>
        </h2>
        <p text-wrap>{{message.message}}</p>
      </ion-label>
      </ion-item>
    </ion-list>

    <!--<ng-container *ngIf="textMessages">
      <div *ngFor="let message of textMessages">
        <text-messaging-message [message]="message" (onOpenPrivateSmsInterface)="openPrivateSmsInterface($event)"></text-messaging-message>
      </div>
    </ng-container>-->
    <!--<p class="message" *ngFor="let message of textMessages">
      <span (click)="openPrivateSmsInterface(message.id)">
        <span [class.is-private]="message.isPrivate" class="message-detail">
          {{message.name}}
          <ion-icon *ngIf="message.isPrivate"
                name="paper-plane" [class.is-receiver]="!message.isIncoming">
          </ion-icon>:
        </span> {{message.message}}
      </span>
    </p>-->
  </div>
</div>
<div class="btn-sms-container">
  <ion-button *ngIf="isChatExpanded" class="btn-sms" (click)="collapseChat()">
    <ion-icon name="contract"></ion-icon>
  </ion-button>
  <ion-button *ngIf="isChatExpanded" class="btn-sms" (click)='saveMessages()'>
    <ion-icon name="mail"></ion-icon>
  </ion-button>
  <ion-button *ngIf="isChatExpanded" class="btn-sms" (click)='openGroupSmsInterface()'>
    <ion-icon name="chatbubbles"></ion-icon>
  </ion-button>
  <ion-button *ngIf="isChatExpanded" class="btn-sms" (click)='openPrivateSmsInterface()'>
    <ion-icon name="text"></ion-icon>
  </ion-button>
</div>
</ion-content>
